table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
li{
    list-style:none
}

h1 {
    display: flex;
    justify-content: center;
}
hr{
    width: 80%;
}
main{
    display: inline-grid;
    grid-template-columns: 50vh 50vh ;
    grid-template-rows: 50px ;

}

.container{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;


}

.one{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}
